@import "mixins";

/*
  Fonts
*/

@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,100,300,500,700,900");
// FF DIN PRO Light
@import url("//hello.myfonts.net/count/2fdb66"); // This is required for the font to work (I think)
@font-face {font-family: 'FF DIN Pro Light';src: url('fonts/2FDB66_0_0.eot');src: url('fonts/2FDB66_0_0.eot?#iefix') format('embedded-opentype'),url('fonts/2FDB66_0_0.woff2') format('woff2'),url('fonts/2FDB66_0_0.woff') format('woff'),url('fonts/2FDB66_0_0.ttf') format('truetype');}

$font-stack: 'FF DIN PRO Light', 'Open Sans';

// Colors

$BLACK: #141719;
$DARKGRAY: #2D373B;
$DARKISHGRAY: #7D8282;
$GRAY: #828787;
$LIGHTGRAY: #D0D1D1;
$BEIGE: #EFEFF0;
$WHITE: #FFFFFF;

// Dimensions

$maxContentWidth: 1024px;
$navHeight: 60px;
$episodeGalleryHeight: 210px;

// zIndexes

$curtainZIndex: 1;
$navZIndex: 2;
