@import "mixins";

// Fonts

@import url("http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900");
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,100,300,500,700,900");

$font-stack: 'Roboto', 'Open Sans';

// Colors

$BLACK: #141719;
$DARKGRAY: #2D373B;
$GRAY: #828787;
$LIGHTGRAY: #D0D1D1;
$WHITE: #FFFFFF;

// Dimensions

$maxContentWidth: 1200px;
$navHeight: 60px;
