@import "utils/mixins";
@import "utils/breakpoints";
@import "utils/orientation";

/*
  Fonts
*/

@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,100,300,500,700,900");
// FF DIN PRO Light
@import url("//hello.myfonts.net/count/2fdb66"); // This is required for the font to work (I think)
@font-face {
  font-family: 'FF DIN Pro Light';
  src: url('fonts/din-pro/2FDB66_0_0.eot');
  src: url('fonts/din-pro/2FDB66_0_0.eot?#iefix') format('embedded-opentype'),url('fonts/din-pro/2FDB66_0_0.woff2') format('woff2'),url('fonts/din-pro/2FDB66_0_0.woff') format('woff'),url('fonts/din-pro/2FDB66_0_0.ttf') format('truetype');
}

$font-stack: 'FF DIN PRO Light', 'Open Sans';

// Colors

$BLACK: #141719;
$DARKGRAY: #333639;
$DARKISHGRAY: #7D8282;
$GRAY: #828787;
$LIGHTGRAY: #D0D1D1;
$BEIGE: #EFEFF0;
$WHITE: #FFFFFF;

/*
  Dimensions and breakpoints

  made some assumptions here..
  phone is based on Nexus 6 (412px)
  tablet is based on iPad (768px)
  * both are presumably `portrait` view
*/

$breakpoints: (
  small: 412px,
  medium: 768px,
  large: 1024px
);

$maxContentWidth: 1024px;

$navHeights: (
  default: 45px,
  medium: 60px
);

$episodesGalleryHeights: (
  default: 130px,
  medium: 150px
);

// zIndexes

$videoOverlayZIndex: 1;
$navArrowZIndex: 1;
$curtainZIndex: 2;
$navZIndex: 3;
$footerZIndex: 3;
$lightboxZIndex: 4;

// grid settings

$gridContainerWidth: $maxContentWidth;
$gridGutterWidth: 62px;
$gridDefaultNumOfRowItems: 3;
$gridImageAspectRatio: 3 / 2;

// Calculate grid image size
$gridImageWidth: ($gridContainerWidth - ($gridDefaultNumOfRowItems - 1) * $gridGutterWidth) / $gridDefaultNumOfRowItems;
$gridImageHeight: $gridImageWidth / $gridImageAspectRatio;

$gridOnePerRowWidth: $gridImageWidth;
$gridTwoPerRowWidth: 2 * $gridImageWidth + $gridGutterWidth;
