@import "shared";

.card {
  .image {
    position: relative;
    height: $gridImageHeight !important;

    img {
      @include fill-parent;
      object-fit: cover;

      // on mobile, stretch to full screen width
      @include bp-under(breakpoint(medium)) {
        position: absolute;
        width: 100vw !important;
        left: -1rem;
      }
    }
  }

  .title {
    margin-top: 0.5em;
    color: $GRAY;
    line-height: 1.2em;
  }
}

@include respond-to(medium) {
  .grid.two-per-row {
    .grid-item.two-column, .grid-item.one-column:first-child:nth-last-child(1) {
      .card .image {
        height: 2 * $gridImageHeight !important;
      }
    }
  }
}
