@import "shared";

// Fonts

html > body {
  font-family: $font-stack;

  // Common font-sizes
  h1 { font-size: 2rem; }
  h2 { font-size: 1.5rem; }
  h3 { font-size: 1.17rem; }
}

// Links

a {
  &:link, &:visited, &:hover, &:active {
    color: inherit;
    text-decoration: none;
  }
}

// Images

img {
  @include bgimage;

  width: 100%;
  height: auto;
}

// Video image overlay (play button)

.voc-video-overlay {
  @include pin-top-left; // Assumes parent has position: relative
  @include bgimage;
  background-image: url("/images/vocativ-video-icon.svg");
  background-size: 78px;
  @include square(100%);
}

// Sections

.section {
  position: relative;
  padding-bottom: 1em;

  @include bp-under(breakpoint(medium)) {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  @each $bp, $navHeight in $navHeights {
    @include respond-to($bp) {
      min-height: calc(100vh - #{$navHeight});
    }
  }
}
