.dataviz {
  cursor: pointer;

  .lightbox-container {
    .lightbox {
      width: initial;
      height: 70%;

      .image {
        height: 100%;

        img {
          height: 100%;
          width: auto;
        }
      }
    }
  }
}
