@import "shared";

.dataviz {

  & > .image {
    @include dim-on-hover;
    cursor: pointer;
    position: relative;

    img {
      // on mobile, stretch to full screen width
      @include bp-under(breakpoint(medium)) {
        position: absolute;
        width: 100vw !important;
        left: -1rem;
      }
    }
  }

  .lightbox-container {
    .lightbox {
      width: initial;
      height: 70%;
      @include flex-center;

      // dataviz sometimes have weird shapes, so remove background and box-shadow
      // (like bottom-right corner removed from image, etc)
      background: transparent;
      box-shadow: none;

      .image {
        @include flex-center;
        height: 100%;

        img {
          @include portrait {
            width: 90%;
            height: auto;
          }
          @include landscape {
            width: auto;
            height: 100%;
          }
        }
      }
    }
  }
}
