@import "shared";

$headerDividerColor: $DARKISHGRAY;

.episodes-library {
  .header {
    @include bp-under(breakpoint(medium)) {
      margin-bottom: 1rem;
    }
    @include respond-to(medium) {
      @include bottom-divider($headerDividerColor, 1.5rem);
      margin-bottom: 2rem;
    }
  }

  .episodes {
    .library-episode {

      display: flex;
      flex-direction: column;

      .image {
        position: relative;
        height: $gridImageHeight;

        margin-bottom: 1rem;

        img {
          @include fill-parent;
          object-fit: cover;

          // on mobile, stretch to full screen width
          @include bp-under(breakpoint(medium)) {
            position: absolute;
            width: 100vw !important;
            left: -1em;
          }
        }

        .coming-soon-text {
          display: none;
        }
      }

      .name {
        margin-bottom: 0.5rem;
        font-size: 1.2rem;
        @include upper;
      }

      .synopsis {
        line-height: 1.4rem;
        margin-bottom: 1rem;
      }

      .air-date {
        @include upper;
      }

      // Coming soon overlay text
      &.coming-soon {
        .image {
          opacity: 0.5;

          .coming-soon-text {
            @include dim(100%);
            @include pin-top-left;
            @include flex-center;

            font-size: 2.5em;
          }
        }
      }
    }
  }
}
