@import "shared";

.episode {
  .section {
    min-height: initial;
  }

  // Pad the episode so the last sections are not hidden by the episodes gallery
  @include bp-options(padding-bottom, $episodesGalleryHeights)
}

@include respond-to(medium) {
  .episode {
    // Special rule only for dataviz
    // When there are 2 - have them be 3 coulmns wide but span ~50% of the grid
    .section.dataviz {
      .grid.two-per-row {
        max-width: 100%;

        .grid-item.one-column {
          width: 48%;
        }

        .grid-item.one-column:first-child:nth-last-child(1) {
          width: $gridTwoPerRowWidth;
          margin: auto;
        }
      }
    }
  }
}

.episode {
  .episode-info {
    margin: 1.5rem 0;

    .title {
      font-size: 2em;
      .title-actual { text-transform: uppercase; }
      margin: 0.5em 0;
    }

    .description {
      font-size: 1.2em;
      line-height: 1.3em;
    }
  }

  .section {
    .section-top-text {
      margin-bottom: 1.5rem;

      .header {
        font-size: 2em;
        margin: 0.5em 0;
      }

      .description {
        font-size: 1.2em;
        line-height: 1.3em;
      }
    }
  }

  .page .nav-arrow-container {
    // Position nav-arrow right above the episodes gallery
    @each $bp, $episodesGalleryHeight in $episodesGalleryHeights {
      @include respond-to($bp) {
        bottom: calc(15px + #{$episodesGalleryHeight});
      }
    }
  }
}
