@import "shared";

.episode {
  .section {
    min-height: initial;
  }

  // Pad the episode so the last sections are not hidden by the episodes gallery
  @include bp-options(padding-bottom, $episodesGalleryHeights)
}

.episode {
  .episode-info {
    text-align: center;
    font-size: 3.8vw;

    .name {
      font-size: 2em;
      .name-actual { text-transform: uppercase; }
      margin: 0.5em 0;
    }

    .synopsis {
      font-size: 1.3em;
      line-height: 1.3em;
    }
  }

  .episode-articles, .episode-videos {
    .header {
      font-size: 7vw;
      text-align: center;
      line-height: 1.2em;

      margin-bottom: 0.5em;

      .episode-name {
        text-transform: uppercase;
      }
    }

    .articles-list, .videos-list {
      display: flex;
      flex-wrap: wrap;

      .embedded-article, .embedded-video {
        .image {
          position: relative;
          margin-bottom: 0.5em;
        }

        .category {
          margin-bottom: 0.5em;
          color: $GRAY;
          text-transform: uppercase;
        }

        .description {
          line-height: 1.2em;
        }

        margin-bottom: 2em;
      }
    }
  }

  .episode-videos {
    .videos-list {
      .embedded-video {
        .name {
          color: $GRAY;
          text-transform: uppercase;
          line-height: 1.2em;
        }
      }
    }
  }

  .page .nav-arrow {
    // Position nav-arrow right above the episodes gallery
    @each $bp, $episodesGalleryHeight in $episodesGalleryHeights {
      @include respond-to($bp) {
        bottom: calc(10px + #{$episodesGalleryHeight});
      }
    }
  }
}
