@import "shared";

$backgroundColor: $BLACK;
$textColor: $GRAY;
$signupColor: $LIGHTGRAY;
$signupWidth: 444px;

.footer-container {
  background: $backgroundColor;
  color: $textColor;
  box-shadow: 0 1px 20px rgba($backgroundColor, 0.8);
  width: 100%;
  z-index: $footerZIndex;

  .footer {
    max-width: $maxContentWidth;
    margin: 0 auto;
    padding: 2rem 1rem;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

    .menu {
      @include bp-options(font-size, (
        default: 0.75rem,
        375px: 0.88rem,
        530px: 1.3rem
      ));
      font-weight: 600;
      margin-bottom: 1.5em;

      display: flex;

      .menu-item {
        @include flex-vertical-center;
        margin: 0 1.3em;

        a {
          text-align: center;
        }
      }
    }

    @include respond-to(medium) {
      flex-direction: row;

      .menu {
        flex: 1 0 40%;
        margin-bottom: 0;

        .menu-item:first-child {
          margin-left: 0;
        }
      }
    }

    .copyright {
      @include bp-options(font-size, (
        default: 0.8rem,
        small: 1.2rem
      ));
    }
  }
}

.signup-form {
  width: 100%;
  margin-bottom: 1.5em;

  form {
    display: flex;

    max-width: $signupWidth;
    margin: auto;
    @include respond-to(medium) {
      margin: 0;
    }

    input {
      flex: 1;
      margin-right: 1.5em;

      border: none;
      background: $signupColor;
      color: rgba(68, 77, 82, 0.8);
      padding: 0.8rem;
      font-size: 0.8em;
      letter-spacing: 0.1em;
      font-weight: 200;
      @include upper;

      box-sizing: border-box;
      height: 43px;

      /* for iOS */
      -webkit-appearance: none;
      -webkit-border-radius: 0;

      &:focus { outline: none; }
      &::-webkit-input-placeholder {
        color: rgba(68, 77, 82, 0.8);
        font-weight: 200;
      }
    }

    button {
      background: transparent;
      border: 2px solid $signupColor;
      color: $signupColor;
      font-size: 0.8em;
      letter-spacing: 0.1em;

      height: 43px;
      padding: 0 1.5em;

      @include upper;

      &:focus { outline: none; }
    }
  }
}
