@import "shared";

$backgroundColor: $BLACK;
$textColor: $GRAY;

.footer-container {
  background: $backgroundColor;
  color: $textColor;
  box-shadow: 0 1px 20px rgba($backgroundColor, 0.8);
  width: 100%;
  z-index: $footerZIndex;

  .footer {
    max-width: $maxContentWidth;
    margin: 0 auto;
    padding: 2rem 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    .menu {
      @include bp-options(font-size, (
        default: 0.75rem,
        375px: 0.95rem,
        512px: 1.3rem
      ));
      font-weight: 600;
      margin-bottom: 1.5rem;

      display: flex;

      .menu-item {
        @include flex-vertical-center;
        margin: 0 1.3rem;

        a {
          text-align: center;
        }
      }
    }

    @include respond-to(medium) {
      flex-direction: row;

      .menu {
        flex: 1;
        margin-bottom: 0;

        .menu-item:first-child {
          margin-left: 0;
        }
      }
    }

    .copyright {
      @include bp-options(font-size, (
        default: 0.8rem,
        small: 1.2rem
      ));
    }
  }
}
