@import "shared";

// In mobile - 1 item per row
// Tablet - 2 items per row
// Desktop - 3 items per row

.grid {
  width: 100%;

  @include bp-under(breakpoint(large)) {
    max-width: 2 * $gridImageWidth + $gridGutterWidth;
    margin: auto;
  }

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .grid-item {
    width: 100%;

    @include respond-to(medium) {
      max-width: $gridImageWidth;
    }

    @include all-but-last {
      margin-bottom: 2em;
    }
  }
}
