@import "shared";

// In mobile - 1 item per row
// Tablet - 2 items per row
// Desktop - 3 items per row

.grid {
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .grid-item {
    width: 100%;

    @include respond-to(medium) {
      width: $gridImageWidth;
    }

    @include all-but-last {
      margin-bottom: 2em;
    }
  }

  .grid-filler {
    @extend .grid-item;
  }

  @include bp-under(breakpoint(large)) {
    max-width: $gridTwoPerRowWidth;
    margin: auto;
  }

  @include bp-under(breakpoint(medium)) {
    max-width: 100% !important;
  }

  &.two-per-row {
    max-width: $gridTwoPerRowWidth;
    margin: auto;

    .grid-item.two-column, .grid-item.one-column:first-child:nth-last-child(1) {
      width: 100%;
    }
  }

  &.one-per-row {
    max-width: $gridOnePerRowWidth;
    margin: auto;
  }
}
