@import "shared";

$introHeaderDividerColor: $DARKISHGRAY;

.home {
  .video-embed {
    height: 35vh;

    @include bp-under(breakpoint(medium)) {
      position: relative;
      width: 100vw;
      top: -1rem;
      left: -1rem;
    }

    @include bp-above(breakpoint(medium)) {
      @each $bp, $navHeight in $navHeights {
        @include respond-to($bp) {
          height: calc(100vh - #{$navHeight} - 30px);
        }
      }
    }
  }

  // This is only shown on mobile
  .intro {
    @include respond-to(medium) {
      display: none;
    }

    margin: 1rem 0;

    .intro-header {
      @include bottom-divider($introHeaderDividerColor, 1em);
      font-size: 5vw;
      text-align: center;

      .header { font-size: 3.5em; }
      .subheader { font-size: 1.2em; }
    }

    .intro-description {
      font-size: 1em;
      line-height: 1.2em;

      .description-1, .description-2 {
        margin-bottom: 2em;
      }
    }
  }
}
