@import "shared";
@import "utils/glitch";

$backgroundColor: $DARKGRAY;
$introHeaderDividerColor: $DARKISHGRAY;

.home {
  .section {
    @include reset-section-height;
  }

  .hero {
    @include respond-to(medium) {
      display: none;
    }

    // Hide the hero on mobile landscape because it takes up the whole screen
    @include landscape {
      display: none;
    }

    .section {
      padding: 0;
      position: relative;
      top: -1em;

      margin-bottom: 1rem;

      .image {
        overflow: hidden;

        img { @include kenburns; }
      }
    }
  }

  // This is only shown on mobile
  .intro {
    margin: 1rem 0;

    .intro-header {
      @include bottom-divider($introHeaderDividerColor, 1em);
      margin-bottom: 3rem;
      font-size: 5vw;
      text-align: center;

      .header {
        margin-bottom: 0.5rem;
      }

      .subheader {
        @include flex-center;
        font-size: 1.2em;
        div { margin: 0 0.3rem; }
        .logo {
          @include bp-options(width, (
            default: 6rem,
            412px: 8rem,
            600px: 10rem
          ));

          color: $WHITE;
        }
      }
    }

    .intro-description {
      font-size: 1.2em;
      line-height: 1.3em;

      display: flex;
      flex-wrap: wrap;

      .description-1, .description-2 {
        margin-bottom: 1.5rem;
      }

      .description-airdate {
        @include bp-under(breakpoint(medium)) {
          width: 100%;
        }

        @include bp-options(font-size, (
          default: 0.8em,
          375px: 1em
        ));

        p {
          @include all-but-first {
            @include bp-options(margin-top, (
              default: 0.5em,
              medium: 0.8em
            ));
          }

          a {
            border-bottom: 1px solid $WHITE;
            font-style: italic;

            @include respond-to(medium) {
              border-bottom: initial;
              font-weight: 900;
            }
          }
        }

        .showtime-link:hover {
          border-bottom: 1px solid $WHITE;
        }
      }

      .logo {
        width: 8em;
        @include bp-under(breakpoint(medium)) { margin-top: 2em; }
        @include respond-to(medium) { margin-left: 1em; }

        position: relative;

        img {
          position: relative;
          top: -5px;
        }
      }
    }

    @include respond-to(medium) {
      .intro-header {
        display: none;
      }
    }
  }
}
