@import "shared";

$backgroundColor: $DARKGRAY;
$textColor: $WHITE;

.main-layout {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .main-content-container {
    flex: 1;
    padding-top: $navHeight;
    position: relative;

    background: $backgroundColor;
    color: $textColor;

    width: 100vw;

    .main-content {
      max-width: $maxContentWidth;
      margin: 0 auto;
      padding: 1rem 0;
    }
  }
}

// Curtain rules
.main-layout.curtain-on {
  min-height: calc(3.5 * 100vh);

  .main-content-container {
    @include pin-top-left;
    position: fixed;
  }
}

.main-layout:not(.curtain-on) {
  .main-content-container {
    .home {
      margin-top: 100vh;
    }
  }
}
