@import "shared";

$backgroundColor: $DARKGRAY;
$textColor: $WHITE;

.main-layout {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .main-content-container {
    flex: 1;
    @include bp-options(padding-top, $navHeights);

    position: relative;

    background: $backgroundColor;
    color: $textColor;

    width: 100vw;

    .main-content {
      max-width: $maxContentWidth;
      margin: 0 auto;
      padding: 1rem 0;
    }
  }
}
