/*
  Breakpoints
*/

@mixin bp-under($width) {
  @media only screen and (max-width: $width) {
    @content;
  }
}

@mixin bp-above($width) {
  @media only screen and (min-width: $width) {
    @content;
  }
}

@mixin bp-between($min-width, $max-width) {
  @media only screen and (min-width: $min-width) and (max-width: $max-width) {
    @content;
  }
}

@mixin bp($max-width) {
  // default is bp-under
  @include bp-under($max-width) {
    @content;
  }
}

// Image
@mixin bgimage {
	background-size: 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

// Text

@mixin upper {
  text-transform: uppercase;
}

// Flex alignments

@mixin flex-vertical-center {
  display: flex;
  align-items: center;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

// Position

@mixin pin-top-left($padding: 0) {
  position: absolute;
  top: $padding;
  left: $padding;
}

@mixin pin-top-right($padding: 0) {
  position: absolute;
  top: $padding;
  right: $padding;
}

// Dimensioning

@mixin fill-screen {
  width: 100vw;
  height: 100vh;
}

@mixin dim($width, $height: false) {
  width: $width;

  @if $height { height: $height; }
  @else { height: $width; }
}

@mixin square($dim) {
  @include dim($dim);
}

// Selections
@mixin all-but-first($prop, $val) {
  &:not(:first-child) {
    #{$prop}: $val;
  }
}

@mixin all-but-last($prop, $val) {
  &:not(:last-child) {
    #{$prop}: $val;
  }
}

// Element decoration

@mixin bottom-divider($color, $margin) {
  padding-bottom: $margin;
  margin-bottom: $margin;
  border-bottom: 1px solid $color;
}
