@import "shared";

$backgroundColor: $BLACK;
$backgroundTransparency: 0.9;
$textColor: $BEIGE;

.nav-container {
  background: rgba($backgroundColor, $backgroundTransparency);
  color: $textColor;
  box-shadow: 0 1px 20px rgba($backgroundColor, 0.8);

  position: fixed;
  width: 100%;
  z-index: $navZIndex;
  @include bp-options(height, $navHeights);
  @include respond-to(medium) {
    padding: 0 1rem;
    box-sizing: border-box;
  }

  .nav {
    max-width: $maxContentWidth;
    margin: 0 auto;
    @include bp-options(padding, (
      default: 0.5rem 0.5rem,
      medium: 0.5rem 0
    ));
    height: 100%;
    box-sizing: border-box;

    @include flex-vertical-center;

    .logos {
      flex: 1;
      @include flex-vertical-center;
      justify-content: space-between;

      font-size: 2rem;

      .logo {
        @each $bp, $navHeight in $navHeights {
          @include respond-to($bp) {
            $logoHeight: 0.8 * $navHeight;
            height: $logoHeight;
            width: 2 * $logoHeight;
          }
        }

        a {
          @include dim(100%);
          @include flex-center;
        }
      }
    }

    .social {
      @include flex-vertical-center;

      .fa {
        @include flex-center;
        font-size: 1.8rem;
        width: 2rem;
        margin-left: 0.5rem;
      }
    }
  }
}
