@import "shared";

$backgroundColor: $BLACK;
$backgroundTransparency: 0.9;
$textColor: $GRAY;

.nav-container {
  background: rgba($backgroundColor, $backgroundTransparency);
  color: $textColor;
  box-shadow: 0 1px 20px rgba($backgroundColor, 0.8);

  position: fixed;
  width: 100%;
  z-index: $navZIndex;;
  height: $navHeight;

  .nav {
    max-width: $maxContentWidth;
    margin: 0 auto;
    padding: 0.5rem 0;
    height: 100%;
    box-sizing: border-box;

    @include flex-vertical-center;

    .logos {
      flex: 1;
      @include flex-vertical-center;
      justify-content: space-between;

      font-size: 2rem;
    }

    .social {
      @include flex-vertical-center;

      .fa {
        @include flex-center;
        font-size: 1.8rem;
        width: 2rem;
        margin-left: 0.5rem;
      }
    }
  }
}
