@import "shared";

$navArrowSize: 4rem;
$navArrowShadow: $BLACK;

.page {
  .nav-arrow {
    font-size: $navArrowSize;
    cursor: pointer;

    width: 0.65em;
    position: fixed;
    bottom: 20px;
    right: 50px;

    @include bp-under(breakpoint(medium)) {
      font-size: 2.5rem;
      margin-right: -0.325em;
      right: 50%;
      bottom: 10px;
    }

    text-shadow: 1px 0px 3px rgba($navArrowShadow, 0.5);

    // Transitions
    transition: all 0.75s ease-in-out;
    &.down { transform: rotate(0deg); }
    &.up { transform: rotate(-180deg); }
    &.right { transform: rotate(-90deg); }

    &.up, &.right { position: absolute; }
  }
}
