@import "shared";

$navArrowShadow: $BLACK;

.page {
  .nav-arrow-container {
    cursor: pointer;
    text-shadow: 1px 0px 3px rgba($navArrowShadow, 0.5);

    z-index: $navArrowZIndex;
    position: fixed;
    bottom: 20px;
    right: 50px;

    @include bp-under(breakpoint(medium)) {
      margin-right: -1em;
      bottom: 15px;
      right: 50%;
    }

    &.up, &.right { position: absolute; }

    &.down  .nav-arrow { transform: rotate(0deg); }
    &.up    .nav-arrow { transform: rotate(-180deg); }
    &.right .nav-arrow { transform: rotate(-90deg); }

    .nav-arrow {
      @include bp-options(font-size, (
        default: 2rem,
        medium: 2.5rem
      ));
      transition: all 0.75s ease-in-out;
    }

    display: flex;

    .next-page {
      display: none;
    }

    @include respond-to(medium) {
      &.right .next-page {
        @include fadein(0.75s);
        @include flex-center;

        margin-right: 1rem;
        .upper {
          margin-left: 0.3em;
        }
      }
    }
  }
}
