@import "shared";

.press {
  .header {
    font-size: 2em;
    margin: 0.5em 0 1.5em;
    @include upper;
  }

  .grid {
    .grid-item {
      @include bp-options(min-height, (
        default: 180px,
        medium: 230px
      ));

      .card-press-release {
        border-top: 1px solid $WHITE;
        padding-top: 1em;

        .logo {
          margin-bottom: 1em;

          img {
            height: 50px;
            width: initial;
            max-width: 250px;
          }
        }

        .description {
          margin-bottom: 1em;
          line-height: 1.2em;

          @include respond-to(medium) {
            &:hover {
              text-decoration: underline;
            }
          }
        }

        .date {

        }
      }
    }
  }
}
