@import "shared";

$shadowColor: $BLACK;

.video-embed {
  position: relative;
  box-shadow: 0 1px 20px rgba($shadowColor, 0.8);

  .image {
    @include dim(100%);

    img {
      @include dim(100%);
      object-fit: cover;
    }
  }
}

.video-embed-lightbox {
  iframe {
    @include dim(100%); // Fill parent
  }
}
