// Breakpoints
@mixin bp-large {
  @media only screen and (max-width: 60em) {
    @content;
  }
}

@mixin bp-medium {
  @media only screen and (max-width: 40em) {
    @content;
  }
}

@mixin bp-small {
  @media only screen and (max-width: 30em) {
    @content;
  }
}

// Image
@mixin bgimage {
	background-size: 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

// Flex alignments

@mixin flex-vertical-center {
  display: flex;
  align-items: center;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

// Position

@mixin pin-top-left($padding: 0) {
  position: absolute;
  top: $padding;
  left: $padding;
}

@mixin pin-top-right($padding: 0) {
  position: absolute;
  top: $padding;
  right: $padding;
}

// Dimensioning

@mixin dim($width, $height: false) {
  width: $width;

  @if $height { height: $height; }
  @else { height: $width; }
}

@mixin square($dim) {
  @include dim($dim);
}
