@import "shared";

$backgroundColor: $BLACK;
$textColor: $GRAY;

.nav {
  background: $backgroundColor;
  color: $textColor;

  display: flex;

  .logos {
    flex: 1;
    display: flex;
    justify-content: space-between;

    font-size: 2rem;
  }

  .social {

  }
}
